$paleSlate: #d4ced2;
$rum: #846c92;
$white: #ffffff;
$bc: rgba(0, 0, 0, 0.1);
$black: rgba(1, 1, 1, 1);

.card {
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid $paleSlate;
    transition: box-shadow .20s ease;
    list-style: none;
    padding: 10px;
  }
  
  .card > .content > .name {
    font-size: 20px;
    cursor: pointer;
  }
  
  .card:hover {
    border-radius: 15px;
    box-shadow: $bc 0px 4px 12px;
  }

  .delete {
    padding: 5px;
    width: fit-content;
    border: 2px solid $white;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    color: $white;
  }
  
  .delete:hover {
    background: $black;
    color: $white;
  }

  .the-dones > .card {
    background-color: $rum;
  }

  .the-dones > .card > .content > .name {
    text-decoration: line-through 1px;
    color: $white;
  }
